<?php

return [
	// when using default setup, you don't need to change this.
	'base_dir' => '/home/pool',

	// CURRENT_XDAG file location relative to base_dir
	// when using default setup, you don't need to change this.
	'current_xdag_file' => 'CURRENT_XDAG',

	// enter your MySQL connection information here. Database should be created with:
	// CREATE DATABASE scripts CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
	'db' => [
		'host' => 'localhost',
		'user' => 'scripts',
		'pass' => 'pass',
		'db' => 'scripts',
	],

	// if you've used multiple pool wallets and want to import accounts,
	// supply a text file relative to base dir here.
	// Leave only one account addresses per line. For example:
	// echo -e "account 1000000000\nexit\n" | tail -n +2 | head -n -1 | sed -r "s/xdag> (.+)/\\1/" | cut -d ' ' -f 1 > extra_accounts.txt
	//'extra_accounts_file' => 'extra_accounts.txt',

	// change to XdagLocal to allow for local development without a running daemon (spoofed data)
	'xdag_class' => 'Xdag',
];
